@import '~/normalize.css/normalize.css';
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300|Source+Sans+Pro:300,300italic,700);

h1,h2,h3,h4,h5,h6, .button {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
p,a,li,blockquote, input[type="email"] {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

i {
  font-style: italic;
}

body {
  background: #343e63;
  color: white
}

.main-header {
  position: fixed;
  left: 0;
  right: 0;
  height: 90px;
  z-index: 1;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
