$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   #555555 !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$dark-green-blue:       #113e3d;
$soft-green:            #87c98a;

$brand-primary:         $soft-green !default;
$brand-secondary:       $dark-green-blue;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-ui:              #f5f3f4;
$brand-default:         #DFDFDF;


$color-brand: 			$soft-green;

$body-bg:				    white;
$hr-border:				   $gray-lighter;
$link-color:		    white;
$link-hover-color:	 $color-brand;
$color-text-body:    $gray;