.main-header {
	background-color: $brand-secondary;
	padding: $half-spacing-unit / 2 $half-spacing-unit;
	@media #{$medium} {
		padding: $half-spacing-unit $base-spacing-unit;
	}
	&__logo {
		text-align: center;
		margin-bottom: $half-spacing-unit;
		margin-top: 0;
		@media #{$medium} {
			text-align: left;
			margin-bottom: 0;
		}
	}
	&--positioned {
		position: absolute;
		width: 100%;
		z-index: 10;
	}
}