.hero{
  * {
    color: inherit;
  }
  color: white;
  padding: $base-spacing-unit * 4 0 $base-spacing-unit * 4;
  @media #{$small} {
    padding: $base-spacing-unit * 6 0 $base-spacing-unit * 6;
  }
}

.hero--main{
  background-image: url('../images/imagen-sala.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 117px;
  @media #{$small} {
    background-attachment: fixed;
    height: auto;
  }
}

.hero--green {
  background-image: linear-gradient(to right, #87C98A, transparent);
  background-position: center;
  background-size: cover;
  color: white;
}

.hero--parallax {
  height: auto;
  @media #{$small} {
    height: 540px;
  }
}

.hero--full {
  height: auto;
  @media #{$small} {
    height: 100%;
  }
  @media screen and (max-height: 480px) {
    height: 500px;
  }
}